body {
  padding-top: 100px;
  /**/
}

h2 {
  /**/

  padding-right: 0px;
  font-size: 260%;
  text-align: center;
}

.iz {
  text-align: left;
}

.navbar {
  background: linear-gradient(90deg, #270fb1 0%, #48e1e7 100%);
}

.c {
  height: 100px;
}

.mensaje_Descrip {
  display: inline-flex;
  justify-content: center;

}

.artic_01 {
  /**/
  font-size: 140%;
  padding: 10px 0px 5px 10px;
  height: 250px;
}

.contenedor_Secciones {
  margin-top: 60px;
  height: 350px;
}

.botoncard {
  border-radius: 3px;
  border: none;

  outline: 0;
  padding: 10px;
  background: linear-gradient(90deg, #270fb1 0%, #48e1e7 100%);
  text-align: center;
  transition: color 0.2s linear;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.p_formulario {
  text-decoration: none;
  color: rgb(6, 8, 10);
  font-size: 100%;
  font-weight: 600;

}

.c {
  height: 30px;
  margin-top: 10px;
}

.cuerpo_formulario {
  box-shadow: 1px 1px 6px 6px rgba(16, 11, 11, 0.82);
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  margin: 3px 3px 3px 3px;
  background: linear-gradient(90deg, #48e1e7 0%, #6d57ea 100%);
}

.margin_formulario {
  margin-top: 30px !important;
  margin-bottom: 30px;
}

footer {
  height: 200px;
  background: linear-gradient(90deg, #054143 0%, #d0cce3 100%);
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redes_Sociales {

  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icono_Footer {

  margin-left: 640px;
}


ul {
  list-style: none;
  padding-left: 0rem !important;
}